.home-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    div {
        align-self: center;
    }
}